/* Universal Selector */
* {
	font-family: 'Roboto Slab', serif;
	color: #555755;
}

header {
	padding-top: 10px;
	padding-bottom: 25px;
}

#content {
	margin: 0 auto;
	padding-left: 20%;
	padding-right: 20%;
}

h1 {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 215%;
	padding-top: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
	border-bottom: 1px solid gray;
}

#imdb {
	color: #00aedb;
}

#train {
	padding-top: 5%;
	padding-left: 40%;
	padding-right: 40%;
}

/************* MONDRIAN *************/
#painting {
	text-align: center;
	width: 600px;
	height: 190px;
	box-shadow: 10px 20px 10px #8d8d8d;

  margin: 0 auto;
}

#toprow, #cornerbox, #div1, #longbox, #div2, #avgbox, #div3, #grey1,
#middlehoriz, #tealhoriz, #bottomrow, #titleblock, #div4, #splitcol,
#div5 {
	float: right;
}

/********* Top Row *********/
#toprow {
	height: 40%;
	width: 100%
}

#cornerbox {
	height: 100%;
	width: 15%;
	background-color: #83d0c9;
}

#div1 {
	height: 100%;
	width: 10px;
	background-color: black;
}

#longbox {
	height: 100%;
	width: 35%;
	background-color: #35a79c;
}

#div2 {
	height: 100%;
	width: 10px;
	background-color: black;
}

#avgbox {
	height: 100%;
	width: 20%;
	background-color: #75bbb4;
}

#div3 {
	height: 100%;
	width: 10px;
	background-color: black;
}

#teal1 {
	height: 100%;
	width: 25%;
	background-color: #68a6a0;
}

/******** Middle Row ********/
#middlehoriz {
	height: 10px;
	width: 74.95%;
	background-color: black;
}

#tealhoriz {
	height: 10px;
	width: 25.05%;
	background-color: #68a6a0;
}

/******** Bottom Row *********/

#bottomrow {
	height: 60%;
	width: 100%;
	background-color: black;
}

#titleblock {
	height: 100%;
	width: 60%;
	background-color: #65c3ba;
}

#div4 {
	height: 100%;
	width: 10px;
	background-color: black;
}

#splitcol {
	height: 100%;
	width: 11.6%;
}

#div5 {
	height: 100%;
	width: 10px;
	background-color: black;
}

#col1 {
	height: 45%;
	width: 100%;
	background-color: #007777;
}

#horizdiv {
	height: 10px;
	width: 100%;
	background-color: black;
}

#col2 {
	height: 46.5%;
	width: 100%;
	background-color: #35a79c;
}

#teal2 {
	height: 100%;
	width: 25%;
	background-color: #68a6a0;
	float: right;
}
